/Week01/Example1/nbproject/private/
/Week01/Example1/build/
/Week01/BankExample1/nbproject/private/
/Week01/BankExample1/build/
/Week01/BankExample1/dist/
/Week02/MyYear/build/
/Week03/StockTracker/nbproject/private/
/Week03/StockTracker/build/
/Appointment/nbproject/private/
/AppointmentApp/nbproject/private/
/UniDemoApp/nbproject/private/
/UniDemoApp/build/
/UniDemoApp/dist/